---
const LOGO = 'https://bswmrfxdadcmuyhmsagv.supabase.co/storage/v1/object/public/portfolio-images/logo-new.svg';
---
<nav class="nav">
  <div class="nav__links">
    <a href="/shop">Shop</a>
    <a href="#">Artists</a>
    <a href="#">Our Story</a>
    <a href="#">Journal</a>
  </div>
  <a href="#" class="nav__logo"><img src={LOGO} alt="Tacky Turquoise" /></a>
  <div class="nav__right">
    <a href="#">Search</a>
    <a href="#">Account</a>
    <a href="#" class="cart">Bag (0)</a>
  </div>
</nav>
